html {
    scroll-behavior: smooth;
    font-family: 'IBM Plex Mono', monospace, 'Manrope', sans-serif;
    background-color: #000;
  }

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 120px;
  }

.header {
    margin-bottom: 158px;
    min-width: 1400px;
    height: 765px;
    background-image: url('../resources/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.nav {
  position: relative;
  width: 1153px;
}

.nav__logo {
  position: absolute;
  width: 130px;
  height: 39px;
  left: 1px;
  top: 36px;
}

.nav__logo-text {
  position: absolute;
  top: -3px;
  left: 10px;
  color: #1BFF07;
  font-size: 42.414px;
  font-weight: 700;
  letter-spacing: -4.666px;
}

.nav__list {
  position: absolute;
  top: 36px;
  left: 653px;
  display: flex;
  gap: 0 50px;
}

.nav__link {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.54px;
  text-transform: lowercase;
  text-decoration: none;
}

.nav__link:hover {
  color: #1BFF07;
}

.header__description {
  position: absolute;
  left: 125px;
  top: 334px;
  width: 430px;
}

.header__description-text {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: normal;
}

.header__title {
  position: absolute;
  left: 119px;
  top: 466px;
  width: 1000px;
}

.header__title-text {
  color: #1BFF07;
  font-size: 80px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: -2.4px;
}

.projects {
  min-width: 1400px;
  background-color: #000;
  margin-bottom: 159px;
}

.projects__title {
  margin-bottom: 50px;
  color: #FFF;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: -1.65px;
}

.projects__img-box {
  position: relative;
  margin-left: 6px;
  width: 1150px;
  height: 550px;
}

.projects__img-title {
  position: absolute;
  top: 415px;
  left: 49px;
  color: #FFF;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: -1.05px;
}

.projects__img-text {
  left: 49px;
  top: 465px;
  position: absolute;
  color: #FFF;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.9px;
}

.projects__btn {
  color: #1BFF07;
  margin-top: 79px;
  margin-left: 3px;
  width: 582px;
  height: 153px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.6px;
  border: 1px solid #1BFF07;
  background-color: #000;
}

.projects__btn:hover {
  color: #000;
  background-color: #1BFF07;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.competencies {
  min-width: 1400px;
  background-color: #000;
  margin-bottom: 142px;
}

.competencise__title {
  color: #FFF;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: -1.65px;
  margin-bottom: 56px;
}

.competencies__box {
  margin-bottom: 48px;
}

.competencies__box:last-child {
  width: 676px;
  margin-bottom: 0;
}

.competencies__box-icon {
  margin-bottom: 11px;
  margin-left: 4px;
}

.competencies__box-title {
  margin-bottom: 15px;
  margin-left: 3px;
  color: #1BFF07;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: -1.05px;
  line-height: normal;
}

.competencies__box-text {
  margin-left: 3px;
  width: 778px;
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.66px;
  line-height: normal;
}

.tasks {
  min-width: 1400px;
  background-color: #000;
  padding-bottom: 150px;
}

.tasks__box-img {
  margin-left: 3px;
}

.tasks__title {
  margin-bottom: 74px;
  margin-left: 3px;
  width: 403px;
  color: #FFF;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: -1.05px;
  line-height: normal;
}

.tasks__box {
  margin-bottom: 74px;
}

.tasks__box:last-child {
  margin-bottom: 0;
  padding-top: 62px;
}

.tasks__box-description {
  
  margin-left: 3px;
  position: relative;
  height: 283px;
  border-radius: 30px;
  flex-shrink: 0;
  background: #191C19;
}

.tasks__box-title {
  position: absolute;
  left: 42px;
  top: 49px;
  color: #1BFF07;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: -1.65px;
}

.tasks__box-text {
  width: 723px;
  position: absolute;
  left: 40px;
  top: 127px;
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.66px;
  line-height: normal;
}

.contacts {
  height: 717px;
  border-radius: 30px;
  background: #191C19;
  margin-bottom: 147px;
}

.contacts__img {
  float: right;
  border-radius:  30px;
}

.contacts__title {
  padding-top: 316px;
  margin-bottom: 28px;
  color: #FFF;
  font-size: 35px;
  font-weight: 400;
  line-height: 60px; 
  letter-spacing: -1.05px;
}

.contacts__text {
  display: flex;

  margin-bottom: 20px;
  color: #FFF;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px; 
  letter-spacing: -1.8px;
  text-decoration: none;
}

.contacts__text:hover {
  color: #1BFF07;
}

.footer {
  padding-top: 73px;
  margin-left: 4px;
  height: 218px;
  border-radius: 30px 30px 0 0 ;
  background: #FFF;
}

.footer__text {
  font-family: Manrope;
  margin-bottom: 66px;
  color: #000;
  font-family: Manrope;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.66px;
  line-height: normal;
}

.footer__end {
  font-family: Manrope;
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: normal;
  opacity: 0.5;
}
